body{
    padding: 0;
	margin: 0;
	line-height: 1.7em;
	font-family: Roboto Condensed;
    font-size: 16px;
    font-weight: 400;
	background:url('../img/1.jpg') no-repeat center center fixed;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	
} 
h2{
	color:#404040;
	font-weight:bold
}
h2:after {
    content: '';
    display: block;
    width: 80px;
    height: 2px;
    background: #188490;
    margin: auto;
    text-align: center;
    margin-top: 15px;
	margin-bottom:65px;
}
/* contact
================================= */


/*start footer*/
.footer{
	background:#4b7994;
	display:inline;
	float:left;
	padding:25px 0 18px 0;
	width:100%;
	}
.footer p{
	color:#fff;
	text-align:center;
	font-size:17px
}
.footer a,span{
	color:#868383;
	font-size:17px
}
.top-footer {
	padding:20px;
	color:#1d4c4c;
	background:#57a2cb
}
.top-footer h3{
    font-family: 'Nova Flat';
	color:#fff;
}
.top-footer a{
	color:#308cc1;
}
.top-footer .fa{
	color:#1d4c4c;
}
.top-footer a{
	color:#b6d9eb
}
.pane span{
	color:#ff0000
}
.pane label{
	color: #1b5b7e;
	margin-top:10px
}
.pane input{
	border:1px solid #478fb7;
}
.pane textarea{
	border:1px solid #478fb7
}
.btn{
	margin-top:15px
}
.contact{
	margin-bottom:50px
}

.btn-primar {
    background-color: #2f87b8;
	color:#fff;
    border-color:#fff;
}
.btn-primar:hover {
	color:#fff;
}
.generic-blockquote {
  margin-top:10px;
  margin-bottom:20px;
  padding: 30px 50px 30px 30px;
  background:none;
  border-left: 3px solid #308cc1;
  line-height: 24px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: #286284;
}
.title_color{
	color:#156392;
	font-weight:bold;
	margin-bottom:10px;
	margin:5px 0 20px 40px
}
.bord{
	margin-bottom:70px;
	background:#eee;
	padding:30px 0
}
.unordered-list{
	font-size: 14px;
    font-family: "Roboto", sans-serif;
	list-style:none
}
.unordered-list li {
  position: relative;
  padding-left: 30px;
  line-height: 1.82em
  }

.unordered-list li:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 3px solid #308cc1;
  background: #fff;
  top: 4px;
  left: 0;
  border-radius: 50%;
  }
 .ordered-list {
  margin-left: 30px;
  }
.ordered-list span{
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  }
.ordered-list li {
  list-style-type: decimal-leading-zero;
  color: #307aa6;
  font-weight: 500;
  line-height: 1.82em}
.unordered-list li {
    color: #0d364e;
}
.ordered-list li span {
  font-weight: 300;
  color: #0e3a54;
  }

.ordered-list-alpha li {
  margin-left: 30px;
  list-style-type: lower-alpha;
  color: #308cc1;
  font-weight: 500;
  line-height: 1.82em
  }

.ordered-list-alpha li span {
  font-weight: 300;
  color: #0e3a54;
  }

.ordered-list-roman li {
  margin-left: 30px;
  list-style-type: lower-roman;
  color: #0e3a54;
  font-weight: 500;
  line-height: 1.82em
  }

.ordered-list-roman li span {
  font-weight: 300;
  color: #0e3a54;
  }
/* home/reasons
================================= */
.home-reasons {
  margin-top: 25px;
  margin-bottom:170px
}
.reasons-col {
  position: relative;
  overflow: hidden;
  margin-top:30px;
}
.reasons-col img {
  width: 100%;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.reasons-col .reasons-titles {
  position: absolute;
  bottom: 0;
  text-align: center;
  background: rgba(75, 162, 213, 0.8);
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  height: 125px;
  padding: 25px 0;
}
.reasons-col .reasons-title {
  font-weight: bold;
}
.reasons-col .on-hover {
  position: absolute;
  top: 0;
  bottom: 125px;
  width: 100%;
  padding: 25px;
  color: #fff;
  text-align: justify;
  background: rgba(75, 162, 213, 0.7);
  border-bottom: 1px solid #fff;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}
.reasons-col:hover .on-hover {
  visibility: visible;
  opacity: 1;
  padding: 50px;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  -webkit-transition: all, 1s;
  transition: all, 1s;
}
.reasons-col:hover img {
  -moz-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  -webkit-transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
  transform: perspective(1.1) scale3d(1.1, 1.1, 1.1);
}
.home-reasons .social i{
	padding:11px 13px;
	margin-top:5px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    color: #308cc1;
    cursor: pointer;
	background:#fff
}

.home-reasons .social i:hover{
	color: #fff;
	background:#308cc1
}
.reviews-section {
	margin-top:65px;
	margin-bottom:40px;
	padding:20px 0;
	background:url('../img/b2.jpg') no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
    text-align: center;
	padding-bottom:20px
}
.reviews-section strong{
	color:#292828
}
.reviews-section .pull-right{
	margin-bottom:70px
}
    .reviews-section h2 {
        padding-top: 50px;
        color: #fff;
    }
.slide-custom {
    min-height: 200px;
    padding: 20px;
    line-height: 30px;
}

.reviews-section h4 i {
    padding: 5px;
}

.reviews-section h4 {
    color: #fff;
}
.about{
	margin-bottom:50px;
	margin-top:70px;
	line-height:25px;
	font-size:15px
}

.icon-round {
    margin-top: 30px;
    font-size: 60px;
    height: 128px;
    width: 128px;
    line-height: 130px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 10px;
    background-color:#188490;
    color: #fff;
	cursor:pointer
}

.icon-round:hover{
    background-color:#fff;
    color: #188490;
}

.media{
	margin:10px
}

.media:first-child {
    margin-top: 0;
}

.media h3{
	color:#308cc1;
	margin-bottom:10px;
	margin-top:10px;
	cursor:pointer
}

.media h3:hover{
	text-decoration:underline;	
}


.navbar{
	font-size:20px;
	height:0;
    min-height:0;
	margin-bottom:0;
	border:none;
	/*position:relative;*/
	z-index:2;
	background:none;	
} 

.navbar li{
	color:#404040
}
.navbar a{
	color:#40342f
}
.carousel-caption{
	margin-bottom:100px;	
}
.nav>li>a:focus, .nav>li>a:hover{
	background:none;
	color:#3b95a0
}

.carousel-caption .carousel-title {
    color: #fff;
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
@media(max-width:775px){
	.carousel-caption .carousel-title {		
		font-size: 20px;
}
.carousel-caption{
	margin-bottom:0px
}
.slid{
	border:none;
}
@media(max-width:775px){
.slid{
	
}	
}
.item h3{
	font-size:35px
}
@media(max-width:775px){
	.item h3{
	font-size:20px
}
}
